body {
  margin: 0;
  background: linear-gradient(135deg, rgba(110, 211, 149, 1) 0%, rgba(110, 211, 149, 1) 40%, rgba(39, 167, 166, 1) 100%);
  font-family: 'Roboto', sans-serif;
  background-size: 100%;
  background-attachment: fixed;
}

/* Секція */
.left-main {
  text-align: right;
  padding: 30px 6%;
}

.left-main, .right-main {
  display: inline-block;
  vertical-align: middle;
}
/* Логотип */
.logo {
  margin-top: 70px;
  margin-bottom: 30px;
  width: 185px;
  }

.logo img {
  margin-left: 170px;
  width: 175px;
  height: 65px;
}

/* Форма авторизації */
.form {
  background-color: #fff;
  padding: 35px 30px;
  width: 450px;
  height: 400px;
  border-radius: 5px; 
 }

.form-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
.form input {
  margin-bottom: 25px;
  display: block;
  width: 400px;
  padding: 17px;
  border-radius: 5px; 
  }

.form-email-text, .form-passwd-text {
  text-align: left;
}

.form-forgot-pswd {
  text-align: center;
}

.form-forgot-pswd span {
  text-decoration: underline;
}

.register {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.register span {
  text-decoration: underline;
}

/* Кніпка */
.form-btn {
  margin-top: 10px;
  width: 115px;
  height: 40px;
  margin-bottom: 15px;
  margin-right: 12px;
  background-color: #2F88E2;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
}

/* Зображення */
img {
  width: 650px;
  margin-left: -20%;
  }